.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #363636;
}

h1 {
  margin: 30px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Mulish', sans-serif;
  font-family: 'Playball', cursive;
  text-shadow: 3px 0 #171717;
  font-size: 8rem;
  color: #797ef6;
}

p {
  font-size: 2rem;
  color: #4ADEDE;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

